@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss" ; 
 

*{
    padding: 0 ;
    margin: 0 ; 
    box-sizing: border-box ; 
}

html{
    font-size: 100% ; 
}

body{
    font-family: sans-serif ;
}

body, html{
    overflow: hidden !important ; 
    width: 100% ;
    height: 100% ;
}

.bg-gray-black{
    background-color: $gray_black ;
}

.bg-gray-black2{
    background-color: $gray_black2;
}

.blue-color{
    color: $blue 
}

.light-gray-color{
    color: $light_gray ; 
}